################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDA Projeto 2/.vs/EDA Projeto 2/v16/Browse.VC.opendb
